.btn {
  border-radius: 20px;
  border: none;
  height: 40px;
  min-width: 20vh;
  color: white;
  font-size: 16px;
  font-weight: 500;
  padding: 0px 10px;
  /* background-color: black; */
}

@media screen and (max-width: 700px) {
  .btn {
    min-width: 15vh;
    height: 45px;
    font-size: 14px;
    font-weight: 300;
  }
}
