.getInvolvedImage {
  display: flex;
  flex-direction: row;
  height: 35vh;
  gap: 20px;
  width: 100%;
  background-color: beige;
}
.getInvolvedContainer {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.pic1 {
  width: 45%;
  background-color: white;
  background-image: url("../images//manwithinstrument.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  /* justify-content: center; */
  border-radius: 15px;
  border: 2px solid brown;
  object-fit: cover;
}
.pic2 {
  width: 65%;
  background-color: white;
  border-radius: 15px;
  border: 2px solid brown;
  background-image: url("../images//groupofmen.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
