.getInvolvedImage {
  display: flex;
  flex-direction: row;
  height: 35vh;
  gap: 20px;
  background-color: beige;
  padding-left: 350px;
  padding-right: 350px;
  margin: 0 auto;
}
.getInvolvedContainer {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 20px;
  padding-right: 20px;
}
.getInvolvedContainer h2 {
  font-family: "Satisfy", serif;
  font-size: 28px;
}

.pic1 {
  width: 40%;
  border-radius: 15px;
  border: 1px solid rgba(255, 68, 0, 1);
}

.pic2 {
  width: 60%;
  border-radius: 15px;
  border: 1px solid orangered;
}

@media screen and (max-width: 728px) {
  .getInvolvedImage {
    display: flex;
    flex-direction: column;
    padding-left: 80px;
    padding-right: 20px;
    height: 70vh;
  }
  .pic1 {
    width: 90%;
    height: 35vh;
  }
  .pic2 {
    width: 90%;
    height: 35vh;
  }
}
