.getInvolvedImage {
  display: flex;
  flex-direction: row;
  height: 35vh;
  gap: 20px;
  width: 1400px;
  background-color: beige;
}
.getInvolvedContainer {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.pic1 {
  width: 45%;

  border-radius: 15px;
  border: 1px solid orangered;
  object-fit: cover;
}

.pic2 {
  width: 65%;

  border-radius: 15px;
  border: 1px solid orangered;
}
