.body {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  /* width: 2240px; */
  gap: 30px;
  background-color: beige;
  padding-left: 20px;
  padding-right: 20px;
}
.div1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 30vh;
  position: relative;
  background-color: beige;
  /* padding: 20px; */
  /* margin: 0px auto; */
  gap: 50px;
  /* padding-left: 20px;
  padding-right: 20px; */
}
.imageSide {
  height: 55vh;
  width: 150%;
  /* float: left; */
  justify-content: center;
  align-items: center;
  /* background-color: red; */
  object-fit: contain;
  margin: 0px auto;
}
.imageSide img {
  height: 55vh;
  width: 100%;
  /* position: absolute; */
}

.textSide {
  display: flex;
  flex-direction: column;
  height: 50vh;
  width: 75%;
  justify-content: center;
  align-items: start;
  /* background-color: yellow; */
  padding-left: 30px;
  padding-right: 30px;
}
.textSide h2 {
  font-family: "Satisfy", serif;
}
