.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* width: 1400px; */
  padding-left: 350px;
  padding-right: 350px;
  margin: 0 auto;
  padding-top: 70px;
  padding-bottom: 70px;
  gap: 50px;
}
.div1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 30vh;
  position: relative;
  /* background-color: beige; */
  /* padding: 20px; */
  /* margin: 0px auto; */
  gap: 50px;
  padding-left: 350px;
  padding-right: 350px;
  /* padding-left: 20px;
  padding-right: 20px; */
}
.div2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 30vh;
  position: relative;
  /* background-color: beige; */
  /* padding: 20px; */
  /* margin: 0px auto; */
  gap: 50px;
  padding-left: 350px;
  padding-right: 350px;
  /* padding-left: 20px;
  padding-right: 20px; */
}
.imageSide {
  height: 50vh;
  width: 100%;
  /* float: left; */
  justify-content: center;
  align-items: center;
  /* background-color: red; */
  object-fit: contain;
  margin: 0px auto;
}
.imageSide img {
  height: 50vh;
  width: 66%;
  /* position: absolute; */
}

.textSide {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 40vh;
  width: 65%;
  justify-content: center;
  align-items: start;
  /* background-color: yellow; */
  padding-left: 30px;
  padding-right: 30px;
}
.textSide h2 {
  font-family: "Satisfy", serif;
  font-size: 32px;
}
@media screen and (max-width: 798px) {
  .body {
    padding-left: 75px;
    padding-right: 75px;
  }
  .div1 {
    display: flex;
    flex-direction: column-reverse;
    gap: 50px;
  }
  .div2 {
    flex-direction: column;
  }
}
@media screen and (min-width: 800px) {
  .body {
    padding-left: 25px;
    padding-right: 25px;
  }
  .div1 {
    display: flex;
    flex-direction: row;
    /* gap: 20px; */
  }
}
@media screen and (max-width: 500px) {
  .div1 {
    min-height: 50vh;
  }
  .imageSide {
    width: 100%;
  }
  .textSide {
    width: 100%;
  }
}
