@import url("https://fonts.googleapis.com/css?family=Satisfy");

.App {
  display: flex;
  flex-direction: column;
  /* align-items: center;
  justify-content: center; */
  max-width: 2440px;
  background-color: beige;
}
